<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="/css/topStyle.css">
<link rel="stylesheet" href="https://fontawesome.com/v5/icons/pen?f=classic&s=solid">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

<link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">

 
</head>
<body class="wf-mplus1p">

 
  
<header>
<h1>家計簿</h1>
 <br>
 <a   href="/top" class="cp_link">home</a>
 <a  href="/outcomeRegist"  class="cp_link">支出入力</a>
   <a  href="/incomeRegist" class="cp_link">収入入力</a>
      <a  href="/detail" class="cp_link">履歴</a>
      <a   href="/addcategory" class="cp_link">項目の追加</a>
      
      <a   href="/login" class="cp_link">ログアウト</a>

<ul id="flip2" class="dropmenu">
  <li><a href="#"><i class="fas fa-align-justify"> &nbsp;menu</i></a>
    <ul>
      <li><a  href="/outcomeRegist" >支出入力</a></li>
      <li><a  href="/incomeRegist">収入入力</a></li>
      <li><a  href="/detail">履歴</a></li>
      <li><a   href="/addcategory">項目の追加</a></li>
         <li><a   href="/top">home</a></li>
      <li><a   href="/login">ログアウト</a></li>
    </ul>
  </li>
</header>
</body>
</html>